.index {
  height: 100rpx;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 9999;
  background-color: #ffffff;
  .menuList_container {
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: content-box;
    padding: 0 16rpx calc(20rpx + env(safe-area-inset-bottom));
    border-top: 2rpx solid #e7e7e7;
    .menu {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      text-align: center;
      line-height: 30rpx;
      padding-top: 2rpx;
      border-radius: 0;
      position: relative;
      .img {
        width: 100rpx;
      }
      .text {
        margin-top: 5rpx;
        font-size: 24rpx;
      }
    }
  }
}

.menuModal {
  > view:last-child {
    width: 658rpx;
    padding: 74rpx 36rpx 65rpx 28rpx;
    background-color: #ffffff;
    border-radius: 10rpx;
    font-size: 22rpx;
    > view:first-child {
      text-align: center;
      font-weight: 500;
      margin-bottom: 74rpx;
      font-size: 30rpx;
      padding: 0;
    }
    .menuModal_content {
      line-height: 32rpx;
      font-size: 22rpx;
      color: #333333;
      .content_title {
        margin-bottom: 45rpx;
      }
    }

    .menuModal_footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 11rpx;
      > view {
        margin: 0;
        width: 272rpx;
        margin: 74rpx 0 0;
        height: 86rpx;
        font-size: 22rpx;
        line-height: 86rpx;
        background-color: #000000;
        color: #ffffff;
        text-align: center;
        border: none;
      }
      .menuModal_footer_cancel {
        background-color: #ffffff;
        color: #000000;
        border: 2rpx solid #000000;
      }
    }
  }
}

.textItem {
  display: flex;
  align-items: flex-start;
  .textCheck {
    position: relative;
    width: 20rpx;
    height: 20rpx;
    border: 2rpx solid #000000;
    margin-top: 6rpx;
    margin-right: 10rpx;
    margin-bottom: 30rpx;
  }
  .textCheck_active {
    background: url("https://udh.oss-cn-hangzhou.aliyuncs.com/90742ab1-e233-42a8-8642-e3f75853657313683438934.svg")
      no-repeat;
    background-size: 100%;
  }
  .texts {
    display: block;
    word-break: break-all;
    flex: 1;
    .text {
      line-height: 32rpx;
      font-size: 22rpx;
      color: #333333;
      display: inline;
    }
    .text_underline {
      text-decoration: underline;
    }
  }
}
